body {
    background-color: darkgray;
    font-family: sans-serif;
}
h1 {
    background: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}
#controls {
    display: flex;
    justify-content: center;
}
#loading {
    display: flex;
    justify-content: center;
}
#wrapper {
    display: flex;
    justify-content: center;
}
#wrapper > div {
    padding: 10px;
    text-align: center;
}
.card {
    height: 150px;
    background: white;
    border-radius: 5px;
    min-width: 200px;
    margin: 15px 0;
    padding: 10px 0;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    cursor: pointer;
}
.card p {
    padding: 5px;
    margin: 6px 0;
}
.card p:nth-child(even) {
    background: #CCC
}